In [7]:
from google.colab import files
uploaded = files.upload()

Saving tvshows.csv to tvshows.csv

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
movieRatings = pd.read_csv("tvshows.csv",index_col=[0])

In [13]:
movieRatings.head()

              Title  Year  Age  IMDb  ... Hulu  Prime Video  Disney+  type
0      Breaking Bad  2008  18+   9.5  ...    0            0        0     1
1   Stranger Things  2016  16+   8.8  ...    0            0        0     1
2       Money Heist  2017  18+   8.4  ...    0            0        0     1
3          Sherlock  2010  16+   9.1  ...    0            0        0     1
4  Better Call Saul  2015  18+   8.7  ...    0            0        0     1

[5 rows x 10 columns]

In [14]:
movieRatings.shape

(5611, 10)

In [15]:
movieRatings.describe()

              Year         IMDb      Netflix  ...  Prime Video      Disney+    type
count  5611.000000  4450.000000  5611.000000  ...  5611.000000  5611.000000  5611.0
mean   2011.021030     7.113258     0.344145  ...     0.382107     0.032080     1.0
std      11.005116     1.132060     0.475131  ...     0.485946     0.176228     0.0
min    1901.000000     1.000000     0.000000  ...     0.000000     0.000000     1.0
25%    2010.000000     6.600000     0.000000  ...     0.000000     0.000000     1.0
50%    2015.000000     7.300000     0.000000  ...     0.000000     0.000000     1.0
75%    2017.000000     7.900000     1.000000  ...     1.000000     0.000000     1.0
max    2020.000000     9.600000     1.000000  ...     1.000000     1.000000     1.0

[8 rows x 7 columns]

In [16]:
movieRatings.IMDb.describe()

count    4450.000000
mean        7.113258
std         1.132060
min         1.000000
25%         6.600000
50%         7.300000
75%         7.900000
max         9.600000
Name: IMDb, dtype: float64

In [18]:
#If false, there are no duplicates
movieRatings.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5606    False
5607    False
5608    False
5609    False
5610    False
Length: 5611, dtype: bool

In [19]:
movieRatings.isnull()

      Title   Year    Age   IMDb  ...   Hulu  Prime Video  Disney+   type
0     False  False  False  False  ...  False        False    False  False
1     False  False  False  False  ...  False        False    False  False
2     False  False  False  False  ...  False        False    False  False
3     False  False  False  False  ...  False        False    False  False
4     False  False  False  False  ...  False        False    False  False
...     ...    ...    ...    ...  ...    ...          ...      ...    ...
5606  False  False   True   True  ...  False        False    False  False
5607  False  False   True   True  ...  False        False    False  False
5608  False  False   True   True  ...  False        False    False  False
5609  False  False   True   True  ...  False        False    False  False
5610  False  False   True   True  ...  False        False    False  False

[5611 rows x 10 columns]

In [20]:
#drops those rows whic contain null values
movieRatings.dropna(axis = 0, how = 'any').shape

(931, 10)

In [21]:
#Will update the dataset, after removing null values
movieRatings.dropna(axis = 0, how = 'any', inplace = True)

In [22]:
movieRatings.isnull()

      Title   Year    Age   IMDb  ...   Hulu  Prime Video  Disney+   type
0     False  False  False  False  ...  False        False    False  False
1     False  False  False  False  ...  False        False    False  False
2     False  False  False  False  ...  False        False    False  False
3     False  False  False  False  ...  False        False    False  False
4     False  False  False  False  ...  False        False    False  False
...     ...    ...    ...    ...  ...    ...          ...      ...    ...
5509  False  False  False  False  ...  False        False    False  False
5517  False  False  False  False  ...  False        False    False  False
5522  False  False  False  False  ...  False        False    False  False
5530  False  False  False  False  ...  False        False    False  False
5575  False  False  False  False  ...  False        False    False  False

[931 rows x 10 columns]

In [23]:
movieRatings.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
type                 int64
dtype: object

In [26]:
movieRatings.rename(columns = {"Rotten Tomatoes" :"RottenTomatoes"}, inplace = True)

In [27]:
#Top 10 Movies according to Rotten Tomatoes
movieRatings.head()

              Title  Year  Age  IMDb  ... Hulu  Prime Video  Disney+  type
0      Breaking Bad  2008  18+   9.5  ...    0            0        0     1
1   Stranger Things  2016  16+   8.8  ...    0            0        0     1
2       Money Heist  2017  18+   8.4  ...    0            0        0     1
3          Sherlock  2010  16+   9.1  ...    0            0        0     1
4  Better Call Saul  2015  18+   8.7  ...    0            0        0     1

[5 rows x 10 columns]